PROJECT_NAME="Multimodal Medical AI Gateway"
VERSION="1.0.0"
API_V1_STR="/api/v1"

SQLITE_DB_FILE="medical_assistant.db"

REDIS_HOST="localhost"
REDIS_PORT=6379
REDIS_DB=0

QDRANT_HOST="localhost"
QDRANT_PORT=6333

GROQ_API_KEY=""
GOOGLE_API_KEY=""
ELEVENLABS_API_KEY=""

SECRET_KEY="random_string"
ACCESS_TOKEN_EXPIRE_MINUTES=1440